<section id="sobre-mi"
         class="about-section animated-section"
         appScrollAnimation>
  <h2>Sobre Mí</h2>
  <div class="about-container">
    <p>
      Licenciado en Gestión de Tecnología y Técnico en Programación con un perfil híbrido que integra la lógica técnica con una visión estratégica de negocio. Formado en Desarrollo Backend con Java y Calidad de Software (QA), con sólidos conocimientos en el diseño de pruebas automatizadas y análisis de procesos.
    </p>
    <p>
      Me considero una persona detallista, adaptable y con aprendizaje rápido, motivada por los desafíos constantes que propone la tecnología. Cuento con una base sólida en ingeniería de software, bases de datos y metodologías ágiles como Scrum. Mi objetivo es sumarme a un equipo donde pueda aportar valor desde el primer día, ya sea como Java Dev, QA Automation/Analyst o Analista Funcional, participando en proyectos desafiantes y continuando mi crecimiento profesional en el mundo IT.
    </p>
  </div>
</section>
