<section id="sobre-mi"
         class="about-section animated-section"
         appScrollAnimation>
  <h2>Sobre Mí</h2>
  <p>
    Me especializo en el desarrollo backend dentro del ecosistema Java y Spring. He profundizado de forma autodidacta en la creación de APIs REST con Spring Boot, la implementación de arquitecturas de microservicios (utilizando Service Discovery, API Gateway y patrones de resiliencia) y la securización de aplicaciones con Spring Security, JWT y OAuth2. Mi formación académica me ha proporcionado una base sólida en ingeniería de software, bases de datos y metodologías ágiles como Scrum, la cual apliqué de forma práctica en mi proyecto final de carrera. Estoy entusiasmado por contribuir al éxito de un equipo dinámico y seguir aprendiendo cada día.
  </p>
</section>
