.footer-container {
  max-width: 820px;
  margin: 30px auto 0 auto;
  padding: 30px 24px 40px 24px;
  border-top: 1px solid var(--border-color);
  transition: border-color 0.3s ease;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-copyright {
  margin: 0;
  font-size: 0.86rem;
  color: var(--secondary-text-color);
  font-weight: 400;
}
